* {
	box-sizing: border-box;
	font-family: 'Nerko One', cursive;
}

body {
	background-color: rgb(22, 24, 40);
	color: rgb(181, 182, 191);
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

#actions {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.action-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
	border: 1px solid black;
    width: 50%;
    padding: 10px;
}

.action-button {
    width: 100px;
	height: 40px;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 6px;
	background-color: rgb(55, 60, 100);
	color: rgb(181, 182, 191);
}

.action-button:focus {
	border: none;
	outline: none;
}

.action-button:active {
	border: none;
	outline: none;
	background-color: rgb(96, 103, 168);
}

.big {
	font-size: 28px;
}

#inventory {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}

#items {
    display: flex;
    flex-flow: row wrap;
}

.item-box {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}