* {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

#actions {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.action-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 1px solid black;
    width: 50%;
    padding: 10px;
}

.action-button {
    width: 100px;
    height: 40px;
}

#inventory {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}

#items {
    display: flex;
    flex-flow: row wrap;
}

.item-box {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}